[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
seeds = true

[programs.localnet]
solana_nft_anchor = "5F3ZhZvcog1YN5yzZ4W7CuFchuKdZqurwxMmsedA9mdp"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "./alice-local.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
